* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-green {
    background-color: rgb(26, 197, 26);
}

.bg-yellow {
    background-color: yellow;
}

.bg-light-brown {
    background-color: burlywood;
}

.bg-light-blue {
    background-color: rgb(38, 188, 237);
}

.bg-red {
    background-color: red;
}